@charset "UTF-8";
@font-face {
    font-family: quicksand;
    src: url(Quicksand_Light.otf) format(opentype);
    font-weight: normal;
}

:root {
    --cor0: #07070D;
    --cor1: #515659;
    --cor2: #D0D8D9;
    --cor3: #A6775B;
    --cor4: #8C4830;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: quicksand, sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}


header {
    width: 90vw;
    margin: auto;
    height: 150px;
    border-radius: 20px;
    background-color: var(--cor1);
    padding-top: 10px;
    font-size: 1.5em;
}

h1 {
    text-align: center;
    font-family: var(--font-destaque);
    background-color: var(--cor1);
    color: var(--cor2);
}


nav > a > img {
    width: 50px;
    height: 50px;
    position: relative;
    margin: auto;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor0);

}